<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{messages.unidade_cad_title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="end" fill="clear" (click)="submitForm()">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content padding>

    <form [formGroup]="form" (ngSubmit)="submitForm()">


        <ion-row>
            <ion-col>


                <ion-item lines="full">
                    <ion-label position="floating">{{messages.unidade_cad_field_label_nome}}</ion-label>
                    <ion-input formControlName="nome" #inputNome [attr.maxLength]="entity.nome_length"></ion-input>
                </ion-item>

                <!-- Error messages -->
                <div *ngIf="isSubmitted && errorControl.nome.errors?.required" class="error-message">
                    {{ messages.field_required }}
                </div>

            </ion-col>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.unidade_cad_field_label_sigla}}</ion-label>
                    <ion-input  formControlName="sigla"  class="upper-case" [attr.maxLength]="entity.sigla_length">
                    </ion-input>
                </ion-item>

                <!-- Error messages -->
                <div *ngIf="isSubmitted && errorControl.sigla.errors?.required" class="error-message">
                    {{ messages.field_required }}
                </div>

            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.unidade_cad_field_label_descricao}}</ion-label>
                    <ion-input formControlName="descricao"  [attr.maxLength]="entity.descricao_length">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>


    </form>

</ion-content>