<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>
            </ion-menu-button>
        </ion-buttons>
        <ion-title>Cadastros</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-grid>
        <ion-row>

            <!--------------- MEUS CLIENTES ----------------->

            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-icon name="people-outline" slot="end"></ion-icon>
                        <h4>
                            <ion-label>Meus Clientes</ion-label>
                        </h4>
                    </ion-item>

                    <ion-card-content>
                        <ion-item>
                            <ion-label class="ion-text-wrap">
                                <h4>
                                    <ion-router-link class='font-large' [routerLink]="['/cliente-list']">
                                        Clientes
                                    </ion-router-link>
                                </h4>
                            </ion-label>

                            <ion-button [routerLink]="['/cliente-cad']" slot="end" fill="clear">
                                <ion-icon style="zoom:1.2" color="primary" slot="icon-only" name="add-circle">
                                </ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>

            <!--------------- MEUS SERVICOS ----------------->

            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-icon name="construct-outline" slot="end"></ion-icon>
                        <h4>
                            <ion-label>Meus Serviços</ion-label>
                        </h4>
                    </ion-item>

                    <ion-card-content>
                        <ion-item >
                            <ion-label class="ion-text-wrap">
                                <h4>
                                    <ion-router-link class='font-large' [routerLink]="['/servico-list']">
                                        Serviços
                                    </ion-router-link>
                                </h4>
                            </ion-label>

                            <ion-button [routerLink]="['/servico-cad']" slot="end" fill="clear">
                                <ion-icon style="zoom:1.2" color="primary" slot="icon-only" name="add-circle">
                                </ion-icon>
                            </ion-button>
                        </ion-item>

                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>

        <!--------------- ESTOQUE ----------------->

        <ion-row>
            <ion-col>
                <ion-card>
                    <ion-item>
                        <ion-icon name="grid-outline" slot="end"></ion-icon>
                        <h4>
                            <ion-label>Estoque</ion-label>
                        </h4>
                    </ion-item>

                    <ion-card-content>

                        <ion-item>
                            <ion-label class="ion-text-wrap">
                                <h4>
                                    <ion-router-link class='font-large' [routerLink]="['/produto-list']">
                                       Produtos
                                    </ion-router-link>
                                </h4>
                            </ion-label>

                            <ion-button [routerLink]="['/produto-cad']" slot="end" fill="clear">
                                <ion-icon style="zoom:1.2" color="primary" slot="icon-only" name="add-circle">
                                </ion-icon>
                            </ion-button>
                        </ion-item>

                        <ion-item>
                            <ion-label class="ion-text-wrap">
                                <h4>
                                    <ion-router-link class='font-large' [routerLink]="['/produto-categoria-list']">
                                        Categoria de Produtos
                                    </ion-router-link>
                                </h4>
                            </ion-label>

                            <ion-button [routerLink]="['/produto-categoria-cad']" slot="end" fill="clear">
                                <ion-icon style="zoom:1.2" color="primary" slot="icon-only" name="add-circle">
                                </ion-icon>
                            </ion-button>
                        </ion-item>

                        <ion-item>
                            <ion-label class="ion-text-wrap">
                                <h4>
                                    <ion-router-link class='font-large' [routerLink]="['/unidade-list']">
                                        Unidades
                                    </ion-router-link>
                                </h4>
                            </ion-label>

                            <ion-button [routerLink]="['/unidade-cad']" slot="end" fill="clear">
                                <ion-icon style="zoom:1.2" color="primary" slot="icon-only" name="add-circle">
                                </ion-icon>
                            </ion-button>
                        </ion-item>

                      

                        <ion-item>
                            <ion-label class="ion-text-wrap">
                                <h4>
                                    <ion-router-link class='font-large' [routerLink]="['/fabricante-list']">
                                        Fabricantes
                                    </ion-router-link>
                                </h4>
                            </ion-label>

                            <ion-button [routerLink]="['/fabricante-cad']" slot="end" fill="clear">
                                <ion-icon style="zoom:1.2" color="primary" slot="icon-only" name="add-circle">
                                </ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>