<ion-header [translucent]="true">
    <ion-toolbar color="primary">

        <ion-buttons *ngIf="!isShowSearch" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons *ngIf="!isShowSearch" slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>

        <ion-title *ngIf="!isShowSearch">Clientes</ion-title>

        <ion-buttons *ngIf="!isShowSearch && isEntities" slot="end">
            <ion-button (click)="showSearchBar()" style="margin-right: 10px">
                <ion-icon slot="icon-only" name="search"></ion-icon>
            </ion-button>
        </ion-buttons>

        <ion-buttons *ngIf="isShowSearch" style="width: 100%;">

            <ion-button slot="start" (click)="hideSearchBar()">
                <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
            </ion-button>

            <ion-input   autofocus="true" placeHolder="Pesquisar" #inputSearch debounce="200"
                (ionChange)="changeSearch($event.target.value)">
            </ion-input>

            <ion-button *ngIf="isShowBottomClose" slot="end" (click)="deleteSearch()" style="margin-right: 10px">
                <ion-icon slot="icon-only" name="close-outline"></ion-icon>
            </ion-button>

        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="novo()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-list>
        <ion-item *ngFor="let entity of getEntities()">
            <ion-icon  name="{{entity.isPessoaJuridica? 'business-outline': 'person-outline'}}"></ion-icon>
            <ion-label class="ion-text-wrap" style="margin-left: 12px;">
                <ion-text>
                    <h2>{{ entity.nome }}</h2>
                </ion-text>
                <p>  {{ entity.isPessoaJuridica? 'CNPJ: ' + entity.cnpj : 'CPF: '+entity.cpf }}</p>
            </ion-label>

            <ion-button slot="end" fill="clear" (click)="alterar(entity)">
                <ion-icon color="primary" slot="icon-only" name="create-outline"></ion-icon>
            </ion-button>
            <ion-button slot="end" fill="clear" (click)="excluir(entity)">
                <ion-icon color="primary" slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>
        
    <div *ngIf="!isEntities" class="image-center">
        <ion-row>
            <img src="assets/ilustrations/list-clientes.png" />
        </ion-row>
        <ion-row>
            <h6>Você ainda não tem clientes cadastrados. Comece a cadastrar!</h6>
        </ion-row>
    </div>
</ion-content>