<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Clientes</ion-title>
    </ion-toolbar>
</ion-header>



<ion-content padding>

     <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="novo()">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <ion-searchbar placeholder="Pesquisar" [(ngModel)]="searchStr" (ionChange)="aplicarFiltrarItems()">
    </ion-searchbar>
 
    <ion-list>
        <ion-item  *ngFor="let entity of getEntities()">
            <ion-label class="ion-text-wrap">
                <ion-text>
                    <h2>{{ entity.nome }}</h2>
                </ion-text>
                <p>{{ entity.cpf }}</p>
            </ion-label>

            <ion-button slot="end" fill="clear" (click)="alterar(entity)">
                <ion-icon color="primary" slot="icon-only" name="pencil-outline"></ion-icon>
            </ion-button>
            <ion-button slot="end" fill="clear" (click)="excluir(entity)">
                <ion-icon color="primary" slot="icon-only" name="trash-outline"></ion-icon>
            </ion-button>
        </ion-item>
    </ion-list>


</ion-content>