<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{messages.cliente_cad_title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="end" fill="clear" (click)="submitForm()">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>



<ion-content padding>

    <form [formGroup]="form" (ngSubmit)="submitForm()">
        <ion-row>
            <ion-col>
                <ion-segment formControlName="isPessoaJuridica" (ionChange)="selectTipoPessoa($event)">
                    <ion-segment-button value="false"  *ngIf="isShowTabPessoaFisica">
                        <ion-icon name="person"></ion-icon>
                        <ion-label class="text-no-transformer">{{messages.cliente_cad_tab_pessoa_fisica_title}}
                        </ion-label>
                    </ion-segment-button>
                    <ion-segment-button value="true" *ngIf="isShowTabPessoaJuridica">
                        <ion-icon name="business"></ion-icon>
                        <ion-label class="text-no-transformer">{{messages.cliente_cad_tab_pessoa_juridica_title}}
                        </ion-label>
                    </ion-segment-button>
                </ion-segment>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <div *ngIf="!isPessoaJuridica">

                    <ion-item lines="full">
                        <ion-label position="floating">{{messages.cliente_cad_field_label_nome}}</ion-label>
                        <ion-input formControlName="nome" #inputNome [attr.maxLength]="entity.nome_length"></ion-input>
                    </ion-item>

                    <!-- Error messages -->
                    <div *ngIf="isSubmitted && errorControl.nome.errors?.required" class="error-message">
                        {{ messages.field_required }}
                    </div>

                </div>

                <div *ngIf="isPessoaJuridica">

                    <ion-item lines="full">
                        <ion-label position="floating">{{messages.cliente_cad_field_label_razao_social}}</ion-label>
                        <ion-input formControlName="razaoSocial" #inputRazaoSocial
                            [attr.maxLength]="entity.razaoSocial_length"></ion-input>
                    </ion-item>

                    <!-- Error messages -->
                    <div *ngIf="isSubmitted && errorControl.razaoSocial.errors?.required" class="error-message">
                        {{ messages.field_required }}
                    </div>
                </div>

            </ion-col>

            <ion-col *ngIf="!isPessoaJuridica">

                <ion-item>
                    <ion-label position="floating">{{messages.cliente_cad_field_label_cpf}}</ion-label>
                    <ion-input formControlName="cpf" simpleMask="999.999.999-99" class="uppercase"></ion-input>
                </ion-item>

                <div *ngIf="isSubmitted && errorControl.cpf.errors?.cpfNotValid" class="error-message">
                    {{ messages.cpf_invalid }}
                </div>
            </ion-col>

            <ion-col *ngIf="isPessoaJuridica">

                <ion-item>
                    <ion-label position="floating">{{messages.cliente_cad_field_label_cnpj}}</ion-label>
                    <ion-input formControlName="cnpj" simpleMask="99.999.999/9999-99" [clearIfNotMatch]="true"
                        class="uppercase"></ion-input>
                </ion-item>

                <!-- Error messages -->
                <div *ngIf="isSubmitted && errorControl.cnpj.errors?.required" class="error-message">
                    {{ messages.field_required }}
                </div>
            </ion-col>
        </ion-row>

        <ion-row *ngIf="isPessoaJuridica">
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.cliente_cad_field_label_fantasia}}
                    </ion-label>
                    <ion-input formControlName="fantasia" [attr.maxLength]="entity.fantasia_length"></ion-input>
                </ion-item>
            </ion-col>


            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">
                        {{messages.cliente_cad_field_label_inscricao_estadual}}</ion-label>
                    <ion-input formControlName="inscricaoEstadual" [attr.maxLength]="entity.inscricaoEstadual_length">
                    </ion-input>
                </ion-item>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.cliente_cad_field_label_endereco}}
                    </ion-label>
                    <ion-input formControlName="endereco" [attr.maxLength]="entity.endereco_length"></ion-input>
                </ion-item>
            </ion-col>


            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.cliente_cad_field_label_cidade}}
                    </ion-label>
                    <ion-input formControlName="cidade" [attr.maxLength]="entity.cidade_length"></ion-input>
                </ion-item>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col size="3">
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.cliente_cad_field_label_uf}}</ion-label>
                    <ion-select formControlName="uf">
                        <ion-select-option *ngFor="let item of listUf" value="{{item.uf}}">
                            {{ item.uf }}
                        </ion-select-option>
                    </ion-select>

                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">{{messages.cliente_cad_field_label_cep}}</ion-label>
                    <ion-input formControlName="cep" simpleMask="99.999-999" [clearIfNotMatch]="true">
                    </ion-input>
                </ion-item>
            </ion-col>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.cliente_cad_field_label_complemento}}</ion-label>
                    <ion-input formControlName="complemento" [attr.maxLength]="entity.complemento_length"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.cliente_cad_field_label_telefone}}</ion-label>
                    <ion-input formControlName="telefone" simpleMask="(99) 99999-9999"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="floating">{{messages.cliente_cad_field_label_celular}}</ion-label>
                    <ion-input formControlName="celular" simpleMask="(99) 99999-9999"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.cliente_cad_field_label_email}}</ion-label>
                    <ion-input formControlName="email" [attr.maxLength]="entity.email_length"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </form>

</ion-content>