<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{messages.ordem_servico_cad_title}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>

    <ion-tabs>
        <ion-tab-bar slot="top">
            <ion-tab-button tab="ordem-servico-cad-cabecalho">
                <ion-icon name="person"></ion-icon>
                <ion-label> {{messages.ordem_servico_cad_tab_cabecalho_title}}</ion-label>
            </ion-tab-button>

        </ion-tab-bar>
    </ion-tabs>
</ion-content>