<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{messages.produto_cad_title}}</ion-title>
        <ion-buttons slot="end">
            <ion-button slot="end" fill="clear" (click)="submitForm()">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content padding>
    <form [formGroup]="form" (ngSubmit)="submitForm()">

        <ion-row>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.produto_cad_field_label_nome}}</ion-label>
                    <ion-input formControlName="nome" #inputNome [attr.maxLength]="entity.nome_length"></ion-input>
                </ion-item>

                <!-- Error messages -->
                <div *ngIf="isSubmitted && errorControl.nome.errors?.required" class="error-message">
                    {{ messages.field_required }}
                </div>
            </ion-col>

            <ion-col size="4">
                <ion-item>
                    <ion-label position="floating">{{messages.produto_cad_field_label_unidade}}</ion-label>
                


                   <!--  <ion-select (ionChange)="selectUnidade($event)" formControlName="unidade"
                        [selectedText]="form.get('unidade').value" interface="action-sheet"
                        cancelText="{{messages.selects_cancel_text}}">
                        <ion-select-option *ngFor="let item of listUnidades" value="{{item.id}}">
                            {{item.sigla}}
                        </ion-select-option>
                    </ion-select> -->

                    <ion-select (ionChange)="selectUnidade($event)"formControlName="unidade"
                        [selectedText]="selectText" interface="action-sheet"
                        cancelText="{{messages.selects_cancel_text}}">
                        <ion-select-option *ngFor="let item of listUnidades" value="{{item.id}}">
                            {{item.sigla}}
                        </ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>

        </ion-row>
        <ion-row>

            <ion-col>
                <ion-item lines=" full">
                    <ion-label position="floating">{{messages.produto_cad_field_label_preco_compra}}</ion-label>
                    <ion-input formControlName="precoCompra" (keyup)="formatPrecoCompra($event.target)"
                        [attr.maxLength]="entity.precoCompra_length">
                    </ion-input>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.produto_cad_field_label_preco_venda}}</ion-label>
                    <ion-input formControlName="precoVenda" (keyup)="formatPrecoVenda($event.target)"
                        [attr.maxLength]="entity.precoVenda_length">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>

        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item lines="full">
                    <ion-label position="floating">{{messages.produto_cad_field_label_observacao}}</ion-label>
                    <ion-input formControlName="observacao" [attr.maxLength]="entity.observacao_length">
                    </ion-input>
                </ion-item>
            </ion-col>
        </ion-row>


    </form>
</ion-content>